# Data Types

In [1]:
a=1
b=3
c=a+b
print("Addition of ",a," and ",b, " is ",c)

Addition of  1  and  3  is  4

In [2]:
a=1
type(a)

int

In [3]:
type("Hello World")

str

In [4]:
type(17)

int

In [5]:
a=5+7j
type(a)

complex

In [6]:
type(5.678)

float

In [7]:
a =1,00,000
print(a)

(1, 0, 0)

In [8]:
print(type(a))

<class 'tuple'>

In [9]:
a=100000
type(a)

int

# String examples

In [10]:
str1 = "Hello World"
str2 = "How are you!!"
print(str1)

Hello World

In [11]:
print(str1[0:3])

Hel

In [12]:
print(str1[5:9])

 Wor

In [13]:
print(str1[5])

In [14]:
print(str1[-10])

e

In [15]:
print(str1[-6:-2])

 Wor

# Order of Operations

In [16]:
#Python follows PEMDAS rule: (parenthesis, exponent, multiplication, division, Addition, subtractuin)

In [21]:
2+3-1

4

In [22]:
1+1**5-2

0

In [23]:
2*3/2

3.0

In [24]:
8**9

134217728

In [25]:
(1+1)**5-2

30

In [26]:
4+6**(2-1)+5/1

15.0

In [27]:
'1'+'2'

'12'

# Type Casting

In [28]:
int('2017')

2017

In [29]:
int(3.147)

3

In [30]:
float(3)

3.0

In [31]:
int(12.1243)

12

In [32]:
str([1,2,3,4])

'[1, 2, 3, 4]'

In [33]:
list('Darshan')

['D', 'a', 'r', 's', 'h', 'a', 'n']

In [34]:
list((1,2,3,4))

[1, 2, 3, 4]

In [35]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [38]:
l=(1,2,3,4,5)
print(l)
l[0]=345 #As tuples are immutable in nature
print(l)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [39]:
l=[1,2,3,4]
print(l)
l[0]=345 #but list is mutable in nature.. that is why no error.. this is the major difference in tuple and list
print(l)

[1, 2, 3, 4]
[345, 2, 3, 4]